body {
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 100vh;
  width: 100vw;
}

.navbar-wrapper {
  background-color: aliceblue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

.right-nav-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100px;
}

.main-wrapper {
  /* flex parent */
  display: flex;
  align-items: center;
  justify-content: center;

  /* flex-child */
  flex-grow: 2;

  /* design */
  background-color: white;
}

.form-wrapper {
  /* flex parent */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* design */
  border-radius: 30px;
  background-color: lightgray;
  padding: 40px 0;
  width: 500px;
}

.form-input {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px 10px;
  width: 280px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

.form-button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  margin: 40px 0 10px 0;
  padding: 10px 20px;
  outline: none;
}

.image {
  border-radius: 50%;
  display: block;
  width: 100px;
}
